.button-styles {
  border-radius: 0.5rem;
  min-height: 2rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--contrast-color);
  color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
}

.button-styles-action {
  border: none;
  outline: none;
}


.button-styles:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.button-styles:hover {
  border-color: var(--contrast-color);
}
.button-styles:focus,
.button-styles:focus-visible {
  outline: 4px auto var(--contrast-color);
}
