.input-style {
  label {
    color: #f9f9f9;
  }

  input {
    height: 1.5rem;
    width: 100%;
    border: 2px solid transparent;
    outline: none;
  }

  input:hover {
    outline: 1px solid var(--contrast-color);
  }
  input:focus,
  input:focus-within,
  input:focus-visible {
    outline: 3px solid var(--contrast-color);
  }
}
