.input-style {
  label {
    font-weight: bold;
  }

  .label-error {
    color: var(--danger);
    font-size: 0.8rem;
  }

  input {
    height: 1.5rem;
    width: 100%;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    color: var(--input-color);
    border-radius: 0.375rem;
    font-size: 1rem;
    transition: all 0.2s ease;
  }

  input::placeholder {
    color: var(--placeholder-color);
  }

  input:hover {
    outline: 1px solid var(--contrast-color);
  }
  input:focus,
  input:focus-within,
  input:focus-visible {
    outline: 3px solid var(--contrast-color);
  }
}
